
.carousel-inner {
    overflow: hidden;
    width: 100%;
  }
  .video {
    width: 100%;
    max-width: 100%;
    height: 630px;
    object-fit: cover;
    position: relative;
  } 
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* color: white; */
  }
  .h2_text{
    font-size: 50px;
    font-family: "poppins", "times-roman";
    color: #88D39F;
    font-weight: 800;
    margin-top: 120px;
  
  }
  .second_h2_text{
    font-size: 50px;
    font-family: "poppins", "times-roman";
    color: #f67280;
    font-weight: 800;
    margin-top: 15px;
  }
  .p_text{
    font-size: 20px;
    font-family: "poppins", "times-roman";
    color: white;
    font-weight: 200;
    /* width: 680px; */
    margin-top: 15px;
  }
  .buttonStyle{
    border: 1px solid black;
    border-radius: 16px;
    padding: 12px 24px;
    margin-right: 10px;
    color: #fff;
    font-weight: 500;
    background-color: #5E35B1;
    font-size: 18px;
  }
  .buttonStyle:hover{
    border-color:1px solid black;
    background-image: linear-gradient(
    45deg,
    hsl(240deg 57% 19%) 0%,
    hsl(241deg 56% 20%) 5%,
    hsl(242deg 56% 21%) 10%,
    hsl(243deg 55% 23%) 14%,
    hsl(244deg 55% 24%) 19%,
    hsl(245deg 55% 25%) 24%,
    hsl(246deg 54% 26%) 29%,
    hsl(247deg 54% 28%) 33%,
    hsl(248deg 54% 29%) 38%,
    hsl(249deg 54% 30%) 43%,
    hsl(250deg 54% 31%) 48%,                                                                 
    hsl(251deg 54% 33%) 52%,
    hsl(252deg 54% 34%) 57%,
    hsl(253deg 54% 35%) 62%,
    hsl(254deg 54% 36%) 67%,
    hsl(255deg 54% 38%) 71%,
    hsl(256deg 54% 39%) 76%,
    hsl(256deg 54% 40%) 81%,
    hsl(257deg 54% 41%) 86%,
    hsl(258deg 54% 43%) 90%,
    hsl(259deg 54% 44%) 95%,
    hsl(260deg 54% 45%) 100%
  );
  
  }
  .buttonStyle2{
    background-color: #5E35B1;
    border: 1px solid black;
    border-radius: 16px;
    color: #fff;
    padding: 12px 24px;
    font-size: 18px;
  }
  .buttonStyle2:hover{
    border-color:1px solid black;
    background-image: linear-gradient(
    45deg,
    hsl(240deg 57% 19%) 0%,
    hsl(241deg 56% 20%) 5%,
    hsl(242deg 56% 21%) 10%,
    hsl(243deg 55% 23%) 14%,
    hsl(244deg 55% 24%) 19%,
    hsl(245deg 55% 25%) 24%,
    hsl(246deg 54% 26%) 29%,
    hsl(247deg 54% 28%) 33%,
    hsl(248deg 54% 29%) 38%,
    hsl(249deg 54% 30%) 43%,
    hsl(250deg 54% 31%) 48%,
    hsl(251deg 54% 33%) 52%,
    hsl(252deg 54% 34%) 57%,
    hsl(253deg 54% 35%) 62%,
    hsl(254deg 54% 36%) 67%,
    hsl(255deg 54% 38%) 71%,
    hsl(256deg 54% 39%) 76%,
    hsl(256deg 54% 40%) 81%,
    hsl(257deg 54% 41%) 86%,
    hsl(258deg 54% 43%) 90%,
    hsl(259deg 54% 44%) 95%,
    hsl(260deg 54% 45%) 100%
  );
  
  }
  .swiper-pagination{
    display: none;
  }
  
  
  
  
  
  
  @media only screen and (max-width: 767px) {
    
    .video {
      width: 100%;
      max-width: 100%;
        height: 550px;
        object-fit: cover;
    } 
    
    .buttonStyle2 {
      padding: 10px;
      margin-top: 4px;
      margin-right: 0px;
      margin-left: 0px;
      font-size: 12px;
    }
    .buttonStyle {
      padding:10px;
      margin-right: 0px;
      margin-left: 0px;
      font-size: 12px;
    }
    .h2_text{
      font-size: 32px;
      margin-top: 0px;
    
    }
    .second_h2_text{
      font-size: 30px;
      margin-top: 15px;
    }
    .p_text{
      font-size: 20px;
      width: 340px;
      margin-top: 15px;
    }
    .container button[type="button"]{
      display: none;
    }
    .content {
      width: 97%;
    }
    
    
  }
  
  
   
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* .mainCarousel img.d-block.float-end.rounded-circle {
    padding-top: 50px;
}

.carousel-img img{
    width: 400px;
    height: 350px;
    
}

.carousel-img h1{
    padding-top: 100px;
    text-transform: capitalize;
    font-family: poppins;
    color: white;
    font-size: 49px;
    font-weight: 900;
}


.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    height: 600px; 
    
}


.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--dark);
    border: 15px solid var(--dark);
    background-size: 100% 51%;
    
    
}

.carousel-control-prev-icon , .carousel-control-next-icon {
    background-color: #198754 !important;
    padding: 20px;
    font-size: 10px;
}

.carousel-control-prev-icon:hover , .carousel-control-next-icon:hover {
    background-color: #198754 !important;
    padding: 20px;
    font-size: 10px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    border:none;
}



.mainCarousel{
    background: url(../assest/stock1.jpg);
    background-size: cover;
    font-family: serif;
    background-position: bottom;
    height: 600px;
    
}


.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.page-header .breadcrumb-item,
.page-header .breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
}


/* new media query below */

/* @media only screen and (max-width: 1023px) and (min-width: 768px)  {

   .carousel-inner .carousel-item {
        position: relative;
    }
    
    .mainCarousel .carousel-inner .carousel-item img {
       
     height: 44%;
     margin: 0px 0px 0px 230px;
     object-fit: cover;
     position: absolute;
     width: 24%;
 
    }

    .carousel-img h1{
        padding-top: 128px;
       
        font-size: 33px;
    }
}






@media (max-width: 767px)
{
    .mainCarousel .carousel-inner .carousel-item img {
   
    height: 92%;
    margin: 0;
    object-fit: cover;
    width: 82%;
    padding: 0px 0px;
   
}
.mainCarousel img.d-block.float-end.rounded-circle {
    padding-top: 50px;
}

.carousel-img h1{
    font-size: 37px;
}
#carouselExampleIndicators .carousel {
    min-height: 390px;
}
.mainCarousel .carousel-indicators {
    bottom: 0;
}

}

@media (max-width: 374px)
{
    .mainCarousel .carousel-inner .carousel-item img {
      
        margin: 24px 30px;
        width: 72%;
    }
    .mainCarousel .carousel-item img h1{
        font-size: 37px;
    }
   
}

@media (max-width: 360px)
{
    .mainCarousel .carousel-inner .carousel-item img {
       
        margin: 24px 63px;
        width: 51%;
    }
    .mainCarousel .carousel-item img h1{
        font-size: 37px;
    }
}

@media (max-width: 280px)
{
    .mainCarousel .carousel-inner .carousel-item img {
        margin: 22px 34px;
        width: 79%;
    }
    .mainCarousel .carousel-item img h1{
        font-size: 37px;
    }
}


@media (max-width: 410px)
{
    .carousel {
        padding:0 20px !important;

    }
    a.btn.btn-success.rounded-pill.py-2.px-5.animated.zoomIn.mt-5
    {
        font-size: 10px; 
        padding: 5px 10px 5px 10px !important;
    }
    

    .carousel-img h1 {
        font-size: 14px;
        padding: 125px 30px 0 30px;
    }
    
}

@media only screen and (max-width: 560px) and (min-width: 767px)
{
    .mainCarousel .carousel-inner .carousel-item img {
    padding: 0 125px;
}
}


@media only screen and (max-width: 767px) and (min-width: 375px)  {


.carousel {
    padding: 20px  50px 0px 50px !important;
    padding: 1px 43px;
}



a.btn.btn-success.rounded-pill.py-2.px-5.animated.zoomIn.mt-5
{
    font-size: 14px; 
    padding: 5px 10px 5px 10px !important;
}

.carousel-img h1 {
    font-size: 15px;
}
.carousel-img h1 {
    padding: 111px 35px 0px 35px;
}


}
 */ 
