 .testimonial{
    padding: 70px 30px 10px;
    margin: 50px 5px 30px;
    border: 1px solid #2285FE;
    position: relative;
    min-height: 331px;
    transition: .5s ease all;
    transform: scale(1);
  }
  .testimonial:hover{
    transition: .5s ease all;
    transform: scale(1.03);
  }

  .testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #2285FE;
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
  }
  .testimonial .pic img{
    width: 100%;
    height: auto;
    left: inherit;
    position: absolute;

  }
  .testimonial .description{
    font-size: 15px;
    color: #5e595b;
    line-height: 27px;
    text-align: center;
    margin: 0;
    position: relative;
    font-style: italic;
    min-height: 150px;
  }
  .testimonial .title{
    display: inline-table;
    padding: 10px;
    /* margin: 0 auto; */
    background: #fff;
    border: 1px solid #2285FE;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    position: absolute;
    bottom: -22px;
    left: 17%;
    right: 0;
    min-width: 65%;
    text-align: center;
  }
  .testimonial .post{
    font-size: 15px;
    color: #2285FE;
  }
  .owl-theme .owl-controls{
    width: 100%;
    height: 50px;
    opacity: 1;
    position: absolute;
    top: 38%;
  }
  .owl-theme .owl-controls .owl-buttons div{
    width: 50px;
    height: 50px;
    line-height: 40px;
    border-radius: 0;
    background: transparent;
  }
  .owl-prev{
    position: absolute;
    left: -5%;
  }
  .owl-next{
    position: absolute;
    right: -5%;
  }
  .owl-prev:after,
  .owl-next:after{
    content: "\f104";
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    font-size: 30px;
    color: #c7373c;
    opacity: 1;
  }
  .owl-next:after{ content: "\f105"; }

  @media only screen and (max-width: 479px){
    .testimonial{ padding: 70px 10px 30px; }
    .testimonial .description:before{ top: -20px }
    .testimonial .title{ font-size: 12px; }
    .testimonial .post{ font-size: 11px; }
  }

  .test-star {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    color:#f09b00;
  }

  h3.h1.m-15px-b {
    margin: 26px 0px 40px 0px;
    font-size: 3rem;
}


.testimonial-box{
	text-align:left;
}
.quote-box{
	padding-left:30px;
}
.quote-text {
	padding-left:30px;
	padding-top:10px;
}
.quote-icon i{
	font-size:50px;
}
.quote-left{
	padding-top:60px;
}
.quote-right {
	text-align:right;
}
.quote-author{
	float: left;
    text-transform: uppercase;
    padding-left: 30px;
}
.pt-130{
	    padding-top: 130px;
}
@media (max-width: 991px){
.pt-130{
	    padding-top: 0;
}
.testimonial{
  min-height: 385px;
}
}
.testimonial-block__section .quote-left{
	padding-top: 0;
}
.testimonial-block__section .quote-icon i {
    font-size: 30px;
}
.testimonial-block__section .quote-box {
    padding-left: 0;
}

.nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-prev, .nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-next {
	top: -42px;
	right: 0;
	left: auto;
	border: 2px solid #e9e9e9;
	color: #ccc;
	font-size: 22px;
	height: 1.8em;
	line-height: 1.6em;
	padding: 0;
	text-align: center;
	width: 1.8em;
	margin-right: 0;
	margin-left: 0;
	opacity: 1;
	background: none;
}
.nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-prev {
	right: 50px;
}
.nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-prev:hover,.nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-next:hover {
	border: 2px solid #fab702;
	color: #fff;
	background: #fab702;
}
@media (max-width: 767px){
.testimonial-block__section .quote-left {
    padding-top: 26px;
}
.nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-prev,
.nf-carousel-theme.nf-carousel-arrow .owl-controls .owl-next{
	top:auto;
	bottom:-85px;
}
}

.clint-section{
  /* background: url("../assest/trade1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #AED7EA;
  margin-bottom: -48px;
  padding: 50px 0;
}
.what_text {
  padding: 0px 0 20px 0;
}


.clint-section .col-lg-6{
  padding: 23px;
}
.clint-c .owl-wrapper-outer .owl-wrapper .owl-item{
  width: 278px;
}


@media only screen and  (max-width:768px)
{
  .clint-c .owl-wrapper-outer .owl-wrapper .owl-item{
  width: 350px !important;
  }
}

