







































.md-p-95px-t {
    padding-top: 95px;
  }

  .md-p-95px-l {
    padding-left: 95px;
  }

  .md-p-95px-r {
    padding-right: 95px;
  }

  .md-p-95px-b {
    padding-bottom: 95px;
  }

  .md-m-100px {
    margin: 100px;
  }

  .md-m-100px-tb {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .md-m-100px-lr {
    margin-left: 100px;
    margin-right: 100px;
  }

  .md-m-100px-t {
    margin-top: 100px;
  }

  .md-m-100px-l {
    margin-left: 100px;
  }

  .md-m-100px-r {
    margin-right: 100px;
  }

  .md-m-100px-b {
    margin-bottom: 100px;
  }

  .md-p-100px {
    padding: 100px;
  }

  .md-p-100px-tb {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .md-p-100px-lr {
    padding-left: 100px;
    padding-right: 100px;
  }

  .md-p-100px-t {
    padding-top: 100px;
  }

  .md-p-100px-l {
    padding-left: 100px;
  }

  .md-p-100px-r {
    padding-right: 100px;
  }

  .md-p-100px-b {
    padding-bottom: 100px;
  }

.m-60px-nt {
  margin-top: -60px;
}
.servies-home {
  text-align: center;
  padding: 15px;
  transition: .5s ease all;
  transform: scale(1);
}
.servies-home:hover {
  background: #fff;
  box-shadow: 0 8px 50px -6px rgba(84,84,120,.26);
  transition: .5s ease all;
  transform: scale(1.1);
  border-radius: 3px;
}
.bottom-animate {
  padding-bottom: 0;
}






.services .icon-box {
    padding: 60px 30px;
    transition: all ease-in-out 0.3s;
    background: #fefefe;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
    border-radius: 18px;
    border-bottom: 5px solid #fff;
  }
  
  .services .icon-box .icon {
    width: 64px;
    height: 64px;
    background: #009961;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
    color: #fff;
  }
  
  .services .icon-box .icon i {
    font-size: 28px;
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #282828;
    transition: ease-in-out 0.3s;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    transform: translateY(-10px);
    border-color: #009961;
  }
  
  .services .icon-box:hover h4 a {
    color: #009961;
  }
  
