
.mainHerbaleWithoutmilk{
    background: url(../assest/HerbalwithoutBannerimg.jpg);
     background-size: cover;
     font-family: serif;
     background-repeat: no-repeat;
     padding: 140px 0 100px 0;
     height: 500px;
    }


.HerbaleWithouContainer{
  
    padding-top: 30px;
}

.HerbleWithoutColor{
    color: rgb(5, 212, 5) !important;
    font-weight: 600;
}


/** Media qurey **/

/** Media Query.. **/

@media only screen and (max-width: 1023px) and (min-width: 768px)  {

    .mainHerbaleWithoutmilk{
        width: 100%;
        height: 100%;
        padding: 0px 0px;
    }
   .mainHerbaleWithoutmilk .HerbleWithoutColor{
    font-size: 60px;
   }
    .card-title{
        font-size: 16px;
        }
        .HerbaleWithouContainer .testcls{
            margin-right: 15px;
        }
  
 }


 @media (max-width: 768px)
 {
    .mainHerbaleWithoutmilk{
         width: 100%;
         height: 100%;
         padding: 0px 0px;
     }
     .mainHerbaleWithoutmilk .HerbleWithoutColor{
         font-size: 50px;
     }
     .HerbaleWithouContainer .testcls{
        margin-right: 15px;
    }
    .card{
        min-height: 330px;
    }
 
 }



 @media (max-width: 375px)
 {
    .mainHerbaleWithoutmilk{
         width: 100%;
         height: 100%;
         padding: 0px 0px;
     }
     .mainHerbaleWithoutmilk .HerbleWithoutColor{
         font-size: 30px;
     }
    .HerbaleWithouContainer .testcls{
         margin-right: 15px;
     }
 }

 @media (max-width: 415px)
{
    .mainHerbaleWithoutmilk .HerbleWithoutColor{
        font-size: 30px;
    }

}

