.services-holding .icon-box .icon svg{
  width: 2em;
  height: 2em;
}
.holding img{
    margin-top: 40px;
}
.holding h3{
    margin-top: 40px;
    font-size: 2rem;
}
.holding h3:hover{
  color: #375ae4;
}

.holding p{
    font-size: 1.2rem;
    margin-top: 15px;
}

/* .holding-box{
    margin-top: 60px;
}
.holding-box .type-box h6{
    font-size: 1.3rem;
    text-align: center;
}
.holding-box .type-box ul{
    text-decoration: none;
    padding: 0px;
}
.holding-box .type-box ul li{
    font-size: 1.1rem;
    text-align: center;
    list-style: none;
}
.type-box{
    border: 1px solid transparent;
    min-height: 267px;
    padding: 30px;
    background:#e4eef0;
    -webkit-box-shadow: -9px -12px 35px -3px rgba(55,90,228,0.43);
-moz-box-shadow: -9px -12px 35px -3px rgba(55,90,228,0.43);
box-shadow: -9px -12px 35px -3px rgba(55,90,228,0.43);
}

 */
 section#services-holding {
  padding: 25px;
  background: linear-gradient( to bottom, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5) );
}
section#holding-stock {
  padding: 25px;
  background: linear-gradient( to bottom, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5) );
}
.services-holding .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
  }
  
  .services-holding .icon-box .icon {
    margin-bottom: 10px;
  }
  .services-holding h2{
    font-size: 2rem;
    margin-top: 55px;
    margin-bottom: 40px;
  }
  .services-holding .icon-box .icon i {
    color: aqua;
    font-size: 36px;
    transition: 0.3s;
  }
  
  .services-holding .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services-holding .icon-box h4 a {
    color: #375ae4 ;
    transition: ease-in-out 0.3s;
    text-decoration: none;
  }
  
  .services-holding .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services-holding .icon-box:hover {
    transform: translateY(-10px);
  }
  
  .services-holding .icon-box:hover h4 a {
    color: #47b2e4;
  }




  .holding-stock .service-item {
    position: relative;
    padding-top: 40px;
  }
  
  /* .holding-stock .service-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(var(--color-default-rgb), 0.1);
  } */
  
  /* .holding-stock .service-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: var(--color-primary);
    border-right: 5px solid var(--color-background);
  } */
  
  .holding-stock .service-item .icon {
    width: 48px;
    height: 48px;
    position: relative;
    margin-right: 50px;
    line-height: 0;
  }
  
  .holding-stock .service-item .icon svg {
    color: #375ae4;
    font-size: 30px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
    /* border: 1px solid #375ae4;
    border-radius: 50%;
    background-color: #fff; */
  }
  
  .holding-stock .service-item .icon svg:hover{
    color: rgb(94, 189, 189);

  }
  /* .holding-stock .service-item .icon:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: rgba(var(--color-primary-rgb), 0.3);
    border-radius: 50px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
    transition: 0.3s;
  } */
  
  .holding-stock .service-item .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .holding-stock .service-item .title a {
    color: #375ae4;
  }
  
  .holding-stock .service-item .title a:hover {
    color: rgb(94, 189, 189);
  }
  
  .holding-stock .service-item .description {
    line-height: 24px;
    font-size: 14px;
  }
  