
.mainIntraday{
    background-size: cover !important;
    font-family: serif;
    background: url(../assest/trade1.jpg) center center no-repeat;
    height: 500px;
    padding-top: 123px;
    background-position: bottom;
}



.intraday .icon-boxes h3 {
    font-size: 28px;
    font-weight: 700;
    color: #394047;
    margin-bottom: 15px;
  }
  
  .intraday .icon-box {
    margin-top: 40px;
  }
  
  .intraday .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid #b9d4ec;
    border-radius: 50px;
    transition: 0.5s;
  }
  
  .intraday .icon-box .icon i {
    color: #428bca;
    font-size: 32px;
  }
  
  .intraday .icon-box:hover .icon {
    background: #428bca;
    border-color: #428bca;
  }
  
  .intraday .icon-box:hover .icon i {
    color: #fff;
  }
  
  .intraday .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .intraday .icon-box .title a {
    color: #343a40;
    transition: 0.3s;
  }
  
  .intraday .icon-box .title a:hover {
    color: #428bca;
  }
  
  .intraday .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
  }
  
  .intraday .video-box {
    background: url("../assest/trade1.jpg") center center no-repeat;
    background-size: cover;
    min-height: 500px;
  }
  
  .intraday .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#428bca 50%, rgba(66, 139, 202, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
  }
  
  .intraday .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .intraday .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(66, 139, 202, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
  }
  
  .intraday .play-btn:hover::after {
    border-left: 15px solid #428bca;
    transform: scale(20);
  }
  
  .intraday .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }