.intraday img{
    margin-top: 40px;
}
.intraday h3{
    margin-top: 40px;
    font-size: 2rem;
}
.intraday p{
    font-size: 1.2rem;
    margin-top: 15px;
}
/* .holding-box{
    margin-top: 60px;
}
.holding-box .type-box h6{
    font-size: 1.3rem;
    text-align: center;
}
.holding-box .type-box ul{
    text-decoration: none;
    padding: 0px;
}
.holding-box .type-box ul li{
    font-size: 1.1rem;
    text-align: center;
    list-style: none;
}
.type-box{
    border: 1px solid transparent;
    min-height: 267px;
    padding: 30px;
    background:#e4eef0;
    -webkit-box-shadow: -9px -12px 35px -3px rgba(55,90,228,0.43);
-moz-box-shadow: -9px -12px 35px -3px rgba(55,90,228,0.43);
box-shadow: -9px -12px 35px -3px rgba(55,90,228,0.43);
}

 */

.services-intraday .icon-box {
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 50px 30px;
    transition: all ease-in-out 0.4s;
    background: #fff;
  }
  
  .services-intraday .icon-box .icon {
    margin-bottom: 10px;
  }
  .services-intraday h2{
    font-size: 2rem;
    margin-top: 55px;
    margin-bottom: 40px;
  }
  .services-intraday .icon-box .icon svg {
    color: #ffbf00;;
    font-size: 36px;
    transition: 0.3s;
  }
  .services-intraday .icon-box .icon i {
    color: #ffbf00;;
    font-size: 36px;
    transition: 0.3s;
  }
  
  .services-intraday .icon-box h4 {
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services-intraday .icon-box h4 a {
    color: #375ae4 ;
    transition: ease-in-out 0.3s;
    text-decoration: none;
  }
  
  .services-intraday .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services-intraday .icon-box:hover {
    transform: translateY(-10px);
  }
  
  .services-intraday .icon-box:hover h4 a {
    color: #47b2e4;
  }




  .intraday-stock .service-item {
    position: relative;
    padding-top: 40px;
  }
  
  .intraday-stock .service-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: rgba(var(--color-default-rgb), 0.1);
  }
  
  .intraday-stock .service-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2px;
    background: var(--color-primary);
    border-right: 5px solid var(--color-background);
  }
  
  .intraday-stock .service-item .icon {
    width: 43px;
    height: 39px;
    position: relative;
    margin-right: 50px;
    line-height: 0;
  }
  
  .intraday-stock .service-item .icon i {
    color: rgba(var(--color-default-rgb), 0.7);
    font-size: 56px;
    transition: ease-in-out 0.3s;
    z-index: 2;
    position: relative;
  }
  
  .intraday-stock .service-item .icon:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: rgba(var(--color-primary-rgb), 0.3);
    border-radius: 50px;
    z-index: 1;
    bottom: -15px;
    right: -15px;
    transition: 0.3s;
  }
  
  .intraday-stock .service-item .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .intraday-stock .service-item .title a {
    color: var(--color-secondary);
  }
  
  .intraday-stock .service-item .title a:hover {
    color: var(--color-primary);
  }
  
  .intraday-stock .service-item .description {
    line-height: 24px;
    font-size: 14px;
  }
  section#services-intraday{
    padding: 25px;
    background: linear-gradient( to bottom, rgba(255, 255, 0, 0.5), rgba(0, 0, 255, 0.5) );
    
  }


  .intraday .video-box {
    background: url("../assest/intradayimg.jpg") center center no-repeat;
    background-size: cover;
    min-height: 500px;
    margin-top: 60px;
  }
  .intraday .icon-boxes .icon-box .icon{
    margin: 10px;
    font-size: 30px;
    color: #ffbf00;;
  }
 
  .intraday-stock .service-item .title:hover{
    color: #375ae4 ;
  }

  .intraday-stock .service-item .icon {
    
    border-radius: 50%;
    background-color: #ffbf00;
    color: white;
}
.intraday-stock .service-item .icon svg{
  /* width: 2em;
  height: 3em;
  margin-left: 6px; */
  width: 25px;
    height: 24px;
    margin: 6px 8px;
}