.mainMilkTea{
    background: url(../assest/MilkteaBannerimg.png);
    background-size: cover;
    font-family: serif;
    background-repeat: no-repeat;
    padding: 140px 0 100px 0;
    height: 500px;
}

.MilkTeaContainer{
    padding-top: 30px;
}

.MilkTeaColor{
    color: rgb(9, 204, 9) !important;
    font-weight: 600;
}



/** Media Query.... **/

@media only screen and (max-width: 1023px) and (min-width: 768px)  {

    .mainMilkTea{
        width: 100%;
        height: 100%;
        padding: 0px 0px;
    }
    .MilkTeaContainer .testcls{
        margin-right: 15px;

    }
  
 }


 @media (max-width: 768px)
{
    .mainMilkTea{
        width: 100%;
        height: 100%;
        padding: 0px 0px;
    }
    .mainMilkTea .MilkTeaColor{
        font-size: 30px;
    }
    .MilkTeaContainer .testcls{
        margin-right: 15px;

    }
    .card{
        min-height: 330px;
    }

}

@media (max-width: 375px)
{
    .mainMilkTea{
        width: 100%;
        height: 100%;
        padding: 0px 0px;
    }
    .mainMilkTea .MilkTeaColor{
        font-size: 30px;
    }
    .MilkTeaContainer .testcls{
        margin-right: 15px;

    }
}