

@media only screen and (max-width: 767px) {
    .desktop-section {
        display: none;
    }
    .carousel-inner{
        min-height: 390px;
    }
    
}

@media only screen and (min-width: 768px) {
    .mobile-section {
        display: none;
    }
}