.serviceBox{
    border: 1px solid #3030d333;
    padding: 30px 30px 30px 90px;
    position: relative;
    transition: all 0.5s ease 0s;
    margin-bottom: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    transition: .5s;
    min-height: 180px;
    max-height: 100%;
}
.serviceBox:hover {
    transform: scale(1.03);
    transition: .5s;
}
.serviceBox:hover{
    border-color: #2285FE;
}
.serviceBox:before,
.serviceBox:after{
    content: "";
    display: block;
    width: 50px;
    height: 5px;
    background: #2285FE;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.serviceBox:before{
    top: -3px;
}
.serviceBox:after{
    bottom: -3px;
}
.serviceBox:hover:before,
.serviceBox:hover:after{
    left: 40px;
    opacity: 1;
}
.serviceBox .service-icon{
    display: inline-block;
    position: absolute;
    top: 33%;
    left: 23px;
    font-size: 45px;
    color: #2285FE;
    opacity: 0.3;
    transition: all 0.5s ease-in 0s;
}
.service-icon img {
    width: 50px;
}
.serviceBox:hover .service-icon{
    opacity: 1;
}
.serviceBox .title{
    /* font-size: 16px; */
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
}
.serviceBox .description{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    color: #666;
    line-height: 27px;
    transition: .5s;
}
.serviceBox:hover .description {
    color: #000;
    transition: .5s;
}
.description__list {
    margin: 0;
}
.description__list li {
    display: block;
    position: relative;
    padding-left: 15px;
    margin-top: 10px;
}
.signin-header {
  display: flex;
  list-style: none;
  margin-top: 14px;
}
.signin-header li a {
  background:#007bff;
  padding: 10px;
  margin-left: 10px;
  color:#fff;
  font-size: 13px;
  border-radius: 5px;
}
.animate-number {
margin-top: 15px;
font-weight: bold;
animation: blinkingBackground 5s infinite;
}
@keyframes blinkingBackground{
      0%		{ color: #10c018;}
      25%		{ color: #1056c0;}
      50%		{ color: #ef0a1a;}
      75%		{ color: #254878;}
      100%	{ color: #04a1d5;}
  }
.animate-number i{
transform: rotate(100deg);
}

.breadcrub-section {
  margin-top: 85px;
}

.serviceBoxnew{
  color: #555;
  background: #fff;
  text-align: center;
  padding: 25px 15px 35px 15px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
  box-shadow: 0 8px 50px -6px rgba(84,84,120,.26);
  transform: scale(1);
  transition: .5s;
  width: 85%;
  height: 300px;
      margin: 0px auto;
}
.serviceBoxnew:hover{
transform: scale(1.03);
transition: .5s;
}
.serviceBoxnew:before{
  content: "";
  background: linear-gradient(180deg,#fff,#afdff2,#5e9db6);
  width: 125%;
  height: 170px;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  left: -50px;
  z-index: -1;
}
.serviceBoxnew .service-icon{
  color: #fff;
  font-size: 40px;
  line-height: 20px;
  margin: 0 auto 90px;
}
.serviceBoxnew .service-icon i{
  transform: rotateX(0deg) rotateY(0deg);
  transition: all 0.3s ease 0s;
}
.serviceBoxnew:hover .service-icon i{
  text-shadow: 0 0 5px #fff;
  transform: rotateX(360deg) rotateY(360deg);
}
.serviceBoxnew .title{
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 10px;
  transition: all 0.3s;
}
.serviceBoxnew:hover .title{ color: #31939d; }
.serviceBoxnew .description{
  font-size: 15px;
  line-height: 25px;
}
.section-title h2{
margin-top: 40px;
font-size: 3rem;
}
.section-title p{
    font-size: 1.3rem;
    padding: 0px 116px 0px 116px;
}
.servies-home {
    text-align: center;
    padding: 15px;
    transition: .5s ease all;
    transform: scale(1);
  }
  .servies-home:hover {
    background: #fff;
    box-shadow: 0 8px 50px -6px rgba(84,84,120,.26);
    transition: .5s ease all;
    transform: scale(1.1);
    border-radius: 3px;
  }
  .bottom-animate {
    padding-bottom: 0;
  }
  
  
  

  
  
  .services .icon-box {
      padding: 60px 30px;
      transition: all ease-in-out 0.3s;
      background: #fefefe;
      box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
      border-radius: 18px;
      border-bottom: 5px solid #fff;
    }
    
    .services .icon-box .icon {
      width: 64px;
      height: 64px;
      background: #375ae4;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      transition: ease-in-out 0.3s;
      color: #fff;
    }
    
    .services .icon-box .icon i {
      font-size: 28px;
    }
    
    .services .icon-box h4 {
      font-weight: 700;
      margin-bottom: 15px;
      font-size: 24px;
    }
    
    .services .icon-box h4 a {
      color: #282828;
      transition: ease-in-out 0.3s;
      text-decoration: none;
    }
    
    .services .icon-box p {
      line-height: 24px;
      font-size: 1.2rem;
      margin-bottom: 0;
    }
    
    .services .icon-box:hover {
      transform: translateY(-10px);
      border-color: #375ae4;
    }
    
    .services .icon-box:hover h4 a {
      color: #375ae4;
    }
    
  














@media only screen and (max-width:990px){
  .serviceBoxnew{ margin: 0 0 40px; }
}
.service-heading {
font-size: 35px;
text-transform: uppercase;
}




/* new css */

.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.owl-carousel .owl-animated-in {
    z-index: 0
}

.owl-carousel .owl-animated-out {
    z-index: 1
}

.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out
}

.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y
}

.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px,0px,0px)
}

.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel.owl-loaded {
    display: block
}

.owl-carousel.owl-loading {
    opacity: 0;
    display: block
}

.owl-carousel.owl-hidden {
    opacity: 0
}

.owl-carousel .owl-refresh .owl-item {
    display: none
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d
}

.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto
}

.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}

.owl-carousel.owl-rtl {
    direction: rtl
}

.owl-carousel.owl-rtl .owl-item {
    float: right
}

.no-js .owl-carousel {
    display: block
}

.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease
}

.owl-carousel .owl-item img {
    transform-style: preserve-3d
}

.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    /* background: url(owl.video.play.png) no-repeat; */
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease
}

.owl-carousel .owl-video-play-icon:hover {
    -webkit-transition: scale(1.3,1.3);
    -moz-transition: scale(1.3,1.3);
    -ms-transition: scale(1.3,1.3);
    -o-transition: scale(1.3,1.3);
    transition: scale(1.3,1.3)
}

.owl-carousel .owl-video-playing .owl-video-tn,.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none
}

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease
}

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1
}


/* ...new css... */


.team_member{
    border-radius: 2px;
    position: relative;
    overflow: hidden;
}
 .services .team_member .overlay{
    background-color: rgba(31, 41, 61, 0.9);
    position: absolute;
    width: 100%;
    height: auto;
    text-align: center;
    left: 0;
    bottom: -135px;
    padding: 40px 15px 30px;
}
.team_member:hover .overlay{
    bottom: 0;
}
.team_member:hover img{
    opacity: 0.8;
    transform: scale(1.2);
}
.team_member .overlay h3{
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    top: -23px;
    display: block;
    margin: 0;
    text-align: center;
    
}
.team_member .overlay h3 span{
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background-color: #f9b707;
    border-radius: 2px;
    display: inline-block;
    padding: 15px 15px;
}
.team_member .overlay p{
    color: #ddd;
}
.team_social li{
    display: inline-block;
}
.team_social a{
    background-color: #f9b707;
    border: 1px solid #f9b707;
    color: #fff;
    font-size: 12px;
    height: 30px;
    width: 30px;
    line-height: 28px;
    text-align: center;
    border-radius: 2px;
    display: inline-block;
}
.team_social a:hover{
    background-color: transparent;
}
.owl-nav div{
    background-color: #f9b707;
    color: #fff;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    left: -40px;
    top: calc(50% - 25px);
    transition: all 0.5s ease-in-out;
}
.owl-nav div:hover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.owl-nav div.owl-next{
    left: auto;
    right: -40px;
}

a,a:hover, .overlay, img, .form-control,  .form-control:hover, button{
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.team_member img {
    height: 100%;
    width: 100%;
}